<!-- One -->
<section id="one">
	<header class="major">
		<h2>Work Experience（職歴）</h2>
	</header>
	<p>
		Safari park herbivore keeper（サファリパークの飼育員 草食動物担当）<br />
		Dispatch sales for IT engineer（ITエンジニアの派遣営業）<br />
		Telecommunications Product Sales（通信商材の営業）<br />
		Web Engineer（Webエンジニア）<br />
	</p>
	<h2>Language</h2>
	<p>
		PHP<br />
		Python<br />
		TypeScript<br />
	</p>
	<h2>Framework・Library</h2>
	<p>
		Laravel<br />
		Vue.js<br />
		React<br />
		Astro<br />
		Next.js<br />
		NestJS<br />
	</p>
	<h2>Hobby（趣味）</h2>
	<p>
		Traveling（旅行）<br />
		Taking pictures of animals and landscapes（動物、風景の撮影）<br />
		Mountain climbing（登山）<br />
	</p>

	<!-- <ul class="actions">
		<li><a href="#" class="button">Learn More</a></li>
	</ul> -->
</section>
