<!-- Footer -->
<footer id="footer">
	<div class="inner">
		<ul class="icons">
			<li>
				<a href="https://twitter.com/KstA_SE" class="icon brands fa-twitter"><span class="label">Twitter</span></a>
			</li>
			<li>
				<a href="https://github.com/toshiki-anraku" class="icon brands fa-github"><span class="label">Github</span></a>
			</li>
		</ul>
		<ul class="copyright">
			<li>
				&copy;2023 - <script type="text/javascript">
					myDate = new Date();
					myYear = myDate.getFullYear();
					document.write(myYear);
				</script> Toshiki Anraku
			</li>
			<li><a href="https://qiita.com/toshiki-anraku">Qiita</a></li>
			<li><a href="https://zenn.dev/anchan">Zenn</a></li>
		</ul>
	</div>
</footer>
