---
import avatar from '../assets/avatar.jpg';
---

<!-- Header -->
<header id="header">
	<div class="inner">
		<!-- <a href="#" class="image avatar"><img src={avatar} alt="" /></a> -->
		<h1>
			<strong>I am Toshiki Anraku</strong><br />
			Job ：Web Engineer<br />
			From：<a href="https://goo.gl/maps/Z2DoTR5RAq17GRfw7">Tokyo - Japan</a><br />
		</h1>
	</div>
</header>
